/**
* A thin layer on top of normalize.css that provides a starting point more
* suitable for web applications.
*/
/**
* 1. Prevent padding and border from affecting element width
*    https://goo.gl/pYtbK7.
* 2. Change the default font family in all browsers (opinionated).
*/
html {
  box-sizing: border-box;
  /* 1 */
  font-family: sans-serif, Arial, "Helvetica Neue", Helvetica;
  /* 2 */ }

*,
*::before,
*::after {
  box-sizing: inherit; }

/**
* Removes the default spacing and border for appropriate elements.
*/
blockquote,
dl,
dd,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre {
  margin: 0; }

h1 {
  font-weight: normal; }

button {
  background: transparent;
  border: 0;
  padding: 0; }

/**
* Work around a Firefox/IE bug where the transparent `button` background
* results in a loss of the default `button` focus styles.
*/
button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

iframe {
  border: 0; }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
========================================================================== */
/**
* 1. Correct the line height in all browsers.
* 2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
========================================================================== */
/**
* Remove the margin in all browsers.
*/
body {
  margin: 0; }

/**
* Render the `main` element consistently in IE.
*/
main {
  display: block; }

/**
* Correct the font size and margin on `h1` elements within `section` and
* `article` contexts in Chrome, Firefox, and Safari.
*/
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
========================================================================== */
/**
* 1. Add the correct box sizing in Firefox.
* 2. Show the overflow in Edge and IE.
*/
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
========================================================================== */
/**
* Remove the gray background on active links in IE 10.
*/
a {
  background-color: transparent; }

/**
* 1. Remove the bottom border in Chrome 57-
* 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
*/
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
* Add the correct font weight in Chrome, Edge, and Safari.
*/
b,
strong {
  font-weight: bolder; }

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
* Add the correct font size in all browsers.
*/
small {
  font-size: 80%; }

/**
* Prevent `sub` and `sup` elements from affecting the line height in
* all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
========================================================================== */
/**
* Remove the border on images inside links in IE 10.
*/
img {
  border-style: none; }

/* Forms
========================================================================== */
/**
* 1. Change the font styles in all browsers.
* 2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
* Show the overflow in IE.
* 1. Show the overflow in Edge.
*/
button,
input {
  /* 1 */
  overflow: visible; }

/**
* Remove the inheritance of text transform in Edge, Firefox, and IE.
* 1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none; }

/**
* Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
* Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
* Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
* Correct the padding in Firefox.
*/
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
* 1. Correct the text wrapping in Edge and IE.
* 2. Correct the color inheritance from `fieldset` elements in IE.
* 3. Remove the padding so developers are not caught out when they zero out
*    `fieldset` elements in all browsers.
*/
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
* Add the correct vertical alignment in Chrome, Firefox, and Opera.
*/
progress {
  vertical-align: baseline; }

/**
* Remove the default vertical scrollbar in IE 10+.
*/
textarea {
  overflow: auto; }

/**
* 1. Add the correct box sizing in IE 10.
* 2. Remove the padding in IE 10.
*/
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
* Correct the cursor style of increment and decrement buttons in Chrome.
*/
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
* 1. Correct the odd appearance in Chrome and Safari.
* 2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
* Remove the inner padding in Chrome and Safari on macOS.
*/
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
* 1. Correct the inability to style clickable types in iOS and Safari.
* 2. Change font properties to `inherit` in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
========================================================================== */
/*
* Add the correct display in Edge, IE 10+, and Firefox.
*/
details {
  display: block; }

/*
* Add the correct display in all browsers.
*/
summary {
  display: list-item; }

/* Misc
========================================================================== */
/**
* Add the correct display in IE 10+.
*/
template {
  display: none; }

/**
* Add the correct display in IE 10.
*/
[hidden] {
  display: none; }

@font-face {
  font-family: Alice;
  font-display: auto;
  src: url(fonts/Alice-Regular.ttf); }
a {
  text-decoration: none;
  color: inherit; }
  a:hover {
    text-decoration: none; }

body, html {
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  overflow-x: hidden;
  scroll-behavior: smooth; }

html {
  display: block;
  height: 100%; }

body {
  color: #3D3D3D;
  min-height: 100%;
  background-color: rgba(100, 100, 100, 0.1); }

button {
  cursor: pointer;
  color: #3D3D3D;
  text-align: center; }

img {
  max-width: 100%; }

input {
  color: #3D3D3D;
  padding-left: 0.3em;
  height: 2.5em; }

::placeholder {
  color: rgba(100, 100, 100, 0.5); }

::-webkit-input-placeholder {
  color: rgba(100, 100, 100, 0.5); }

::-ms-input-placeholder {
  color: rgba(100, 100, 100, 0.5); }

p {
  line-height: 1.7rem;
  font-size: 110%; }

input {
  color: #3D3D3D;
  padding-left: 0.5em;
  padding-top: 0.3em;
  border: 1px solid rgba(100, 100, 100, 0.4); }

textarea {
  color: #3D3D3D;
  padding-left: 0.5em;
  padding-top: 0.3em;
  border: 1px solid rgba(100, 100, 100, 0.4);
  resize: vertical; }

select {
  color: #3D3D3D;
  border: 1px solid rgba(100, 100, 100, 0.4);
  padding-left: 0.3em;
  height: 2.5em; }

.javascript-disabled {
  position: fixed;
  top: 0;
  background-color: #CE5667;
  color: #fff;
  width: 100%;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem; }

.slide-menu-overlay {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  background-color: #3D3D3D;
  width: 100%;
  height: 100%;
  opacity: 0.5; }

.hide-overlay {
  display: none; }

.slide-menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: #fff;
  width: 20rem;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  overflow-y: auto;
  -webkit-transition: left 0.5s linear;
  -o-transition: left 0.5s linear;
  transition: left 0.5s linear; }
  .slide-menu-container .close-menu2 {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 120%;
    cursor: pointer; }
  .slide-menu-container .slide-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 4rem;
    width: 80%; }
    .slide-menu-container .slide-menu a {
      margin-bottom: 1.5rem;
      padding-bottom: 1.5rem;
      border-bottom: 1px solid rgba(100, 100, 100, 0.2);
      width: 100%;
      font-size: 120%;
      text-align: center;
      color: #666666;
      font-family: Westcraft, sans-serif, Arial, "Helvetica Neue", Helvetica; }
      .slide-menu-container .slide-menu a:last-of-type {
        border-bottom: none; }
      .slide-menu-container .slide-menu a:hover {
        color: #666666;
        opacity: 0.8; }

.close-menu {
  left: -20rem; }

.hamburger-menu-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: #3D3D3D;
  font-size: 150%;
  cursor: pointer;
  display: none; }

.navbar-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 3rem;
  padding-right: 3rem; }
  .navbar-section .logo-section {
    font-weight: 400; }
    .navbar-section .logo-section h1 {
      font-family: "Alice", sans-serif, Arial, "Helvetica Neue", Helvetica; }
  .navbar-section img {
    margin-top: 1rem; }
  .navbar-section .navbar {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    -ms-flex-item-align: end;
    align-self: flex-end;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -ms-grid-row-align: center;
    align-self: center; }
    .navbar-section .navbar a {
      margin-left: 3rem;
      font-weight: 600;
      font-family: Alice, sans-serif, Arial, "Helvetica Neue", Helvetica;
      font-size: 120%; }
      .navbar-section .navbar a:first-of-type {
        margin-left: 0; }
      .navbar-section .navbar a:hover {
        opacity: 0.9;
        text-decoration: none; }

.main-contact-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 4rem; }
  .main-contact-section .contact-intro-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center; }
    .main-contact-section .contact-intro-section h3 {
      margin-top: 3rem; }
    .main-contact-section .contact-intro-section p {
      width: 70%;
      margin-top: 0.5rem; }
  .main-contact-section .contact-form-section form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 40rem;
    margin-top: 3rem; }
    .main-contact-section .contact-form-section form .input-contact-item {
      margin-bottom: 1rem;
      width: 80%; }
    .main-contact-section .contact-form-section form .contact-check-box-section {
      width: 80%; }
      .main-contact-section .contact-form-section form .contact-check-box-section div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-bottom: 0.5rem; }
        .main-contact-section .contact-form-section form .contact-check-box-section div input {
          -ms-flex-item-align: center;
          -ms-grid-row-align: center;
          align-self: center;
          margin-right: 0.5rem;
          border: none;
          width: 1.1rem;
          height: 1.1rem; }
        .main-contact-section .contact-form-section form .contact-check-box-section div label {
          -ms-flex-item-align: center;
          -ms-grid-row-align: center;
          align-self: center; }
    .main-contact-section .contact-form-section form textarea {
      width: 80%;
      margin-top: 1rem;
      margin-bottom: 2rem; }
    .main-contact-section .contact-form-section form .contact-form-fake-button {
      background-color: #581793;
      padding-top: 0.8rem;
      padding-bottom: 0.8rem;
      padding-left: 3rem;
      padding-right: 3rem;
      border-radius: 30px;
      margin-bottom: 1rem;
      color: #fff;
      cursor: pointer; }
      .main-contact-section .contact-form-section form .contact-form-fake-button:hover {
        opacity: 0.9; }
    .main-contact-section .contact-form-section form .contact-form-error {
      background-color: #CE5667;
      padding-top: 1rem;
      padding-bottom: 1rem;
      padding-left: 3rem;
      padding-right: 3rem;
      color: #fff;
      text-align: center;
      margin-bottom: 1rem; }
    .main-contact-section .contact-form-section form .contact-hide-error {
      display: none; }
    .main-contact-section .contact-form-section form .contact-form-real-button {
      position: relative;
      right: 100rem;
      visibility: hidden;
      background-color: #581793;
      padding-top: 0.8rem;
      padding-bottom: 0.8rem;
      padding-left: 3rem;
      padding-right: 3rem;
      border-radius: 30px;
      color: #fff; }
      .main-contact-section .contact-form-section form .contact-form-real-button:hover {
        opacity: 0.9; }
  .main-contact-section .faq-section {
    width: 40rem; }

.footer-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 9rem; }
  .footer-section .copywrite {
    margin-bottom: 1rem; }
  .footer-section .social-media-icon-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 1.7rem; }
    .footer-section .social-media-icon-section .social-media-icon {
      margin-left: 0.5rem; }
      .footer-section .social-media-icon-section .social-media-icon:first-of-type {
        margin-left: 0; }
      .footer-section .social-media-icon-section .social-media-icon i {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        border: none;
        width: 3.3rem;
        height: 3.3rem;
        font-size: 160%;
        border-radius: 50%;
        background-color: #3D3D3D;
        color: #fff; }

.portfolio-main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center; }
  .portfolio-main-section .portfolio-intro-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center; }
    .portfolio-main-section .portfolio-intro-section p {
      width: 70%; }
  .portfolio-main-section .portfolio-item-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .portfolio-main-section .portfolio-item-section .portfolio-item-group .portfolio-item {
      background-color: #581793;
      width: 15rem;
      height: 15rem;
      margin-left: 1rem;
      margin-bottom: 1rem; }

.about-us-main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 7rem; }
  .about-us-main-section .about-us-intro-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 7rem; }
    .about-us-main-section .about-us-intro-section p {
      width: 70%; }
  .about-us-main-section .about-us-testimonial-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 5rem;
    margin-top: 5rem;
    padding-bottom: 5rem;
    padding-top: 5rem;
    background-color: #fff; }
    .about-us-main-section .about-us-testimonial-section p {
      width: 70%;
      margin-top: 1rem; }
  .about-us-main-section .about-us-call-to-action {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .about-us-main-section .about-us-call-to-action .about-us-call-to-action-group {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-bottom: 2rem; }
      .about-us-main-section .about-us-call-to-action .about-us-call-to-action-group .about-us-cta-item {
        width: 10rem; }
        .about-us-main-section .about-us-call-to-action .about-us-call-to-action-group .about-us-cta-item h3 {
          margin-bottom: 0.2rem;
          font-size: 150%; }
      .about-us-main-section .about-us-call-to-action .about-us-call-to-action-group .about-us-cta-item-divider {
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
        -ms-grid-row-align: center;
        align-self: center;
        height: 2rem;
        margin-left: 2rem;
        margin-right: 2rem;
        color: #581793; }
    .about-us-main-section .about-us-call-to-action .about-us-call-action-button {
      background-color: #581793;
      padding-top: 0.9rem;
      padding-bottom: 0.9rem;
      padding-left: 6rem;
      padding-right: 6rem;
      color: #fff;
      border-radius: 30px; }
  .about-us-main-section .about-us-portfolio-sample-section {
    width: 100%; }
    .about-us-main-section .about-us-portfolio-sample-section .about-us-portfolio-sample-group {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-bottom: 3rem;
      width: 100%; }
      .about-us-main-section .about-us-portfolio-sample-section .about-us-portfolio-sample-group .about-portfolio-item-set {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
        .about-us-main-section .about-us-portfolio-sample-section .about-us-portfolio-sample-group .about-portfolio-item-set:first-of-type {
          margin-right: 1rem; }
      .about-us-main-section .about-us-portfolio-sample-section .about-us-portfolio-sample-group .about-us-portfolio-sample-item {
        width: 10rem;
        height: 10rem;
        background-color: #581793;
        margin-bottom: 1rem; }
        .about-us-main-section .about-us-portfolio-sample-section .about-us-portfolio-sample-group .about-us-portfolio-sample-item:first-of-type {
          margin-right: 1rem; }
    .about-us-main-section .about-us-portfolio-sample-section .about-us-portfolio-button {
      background-color: #581793;
      padding-top: 0.9rem;
      padding-bottom: 0.9rem;
      padding-left: 6rem;
      padding-right: 6rem;
      color: #fff;
      border-radius: 30px; }

.main-home-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center; }
  .main-home-section .home-jumbotron-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 10rem; }
    .main-home-section .home-jumbotron-section img {
      width: 900px; }
    .main-home-section .home-jumbotron-section .jumbotron-text-group {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      width: 15rem; }
      .main-home-section .home-jumbotron-section .jumbotron-text-group .jumbotron-text-discover {
        margin-bottom: 0.5rem;
        font-size: 150%; }
      .main-home-section .home-jumbotron-section .jumbotron-text-group .jumbotron-text-conquer {
        margin-bottom: 0.5rem;
        font-size: 170%;
        -ms-flex-item-align: start;
        align-self: flex-start; }
      .main-home-section .home-jumbotron-section .jumbotron-text-group .jumbotron-text-captivate {
        margin-bottom: 0.5rem;
        margin-right: 1.2rem;
        font-size: 200%;
        -ms-flex-item-align: end;
        align-self: flex-end; }
      .main-home-section .home-jumbotron-section .jumbotron-text-group p {
        margin-bottom: 1rem; }
      .main-home-section .home-jumbotron-section .jumbotron-text-group a {
        background-color: #581793;
        padding-top: 0.9rem;
        padding-bottom: 0.9rem;
        padding-left: 3rem;
        padding-right: 3rem;
        color: #fff;
        border-radius: 30px; }
  .main-home-section .home-services-section {
    width: 100%;
    padding-bottom: 3rem; }
    .main-home-section .home-services-section .home-services-group {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      width: 100%;
      padding-bottom: 3rem; }
      .main-home-section .home-services-section .home-services-group .home-services-item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 20rem;
        margin-left: 1rem;
        padding-top: 1rem; }
        .main-home-section .home-services-section .home-services-group .home-services-item:first-of-type {
          margin-right: 6rem; }
        .main-home-section .home-services-section .home-services-group .home-services-item img {
          width: 200px;
          height: 200px; }
        .main-home-section .home-services-section .home-services-group .home-services-item .home-services-item-button {
          background-color: #581793;
          padding-top: 0.9rem;
          padding-bottom: 0.9rem;
          padding-left: 4rem;
          padding-right: 4rem;
          color: #fff;
          border-radius: 30px; }
        .main-home-section .home-services-section .home-services-group .home-services-item h3 {
          margin-bottom: 1rem; }
        .main-home-section .home-services-section .home-services-group .home-services-item p {
          margin-bottom: 1rem; }
  .main-home-section .home-testimonials-section {
    background-color: #fff;
    padding-top: 6rem;
    padding-bottom: 6rem; }
    .main-home-section .home-testimonials-section h3 {
      color: #581793; }
  .main-home-section .home-call-to-action-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .main-home-section .home-call-to-action-section .home-cta-intro-title {
      color: #581793; }
    .main-home-section .home-call-to-action-section .home-cta-icons-section {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-top: 5rem;
      margin-bottom: 2rem; }
      .main-home-section .home-call-to-action-section .home-cta-icons-section .home-cta-divider {
        color: #581793;
        margin-left: 3rem;
        margin-right: 3rem; }
    .main-home-section .home-call-to-action-section .home-call-to-action-button {
      background-color: #581793;
      padding-top: 0.9rem;
      padding-bottom: 0.9rem;
      padding-left: 4rem;
      padding-right: 4rem;
      color: #fff;
      border-radius: 30px; }
  .main-home-section .home-portfolio-sample-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%; }
    .main-home-section .home-portfolio-sample-section .home-portfolio-sample-group {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      width: 100%;
      margin-bottom: 1rem; }
      .main-home-section .home-portfolio-sample-section .home-portfolio-sample-group .home-portfolio-sample-item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
        .main-home-section .home-portfolio-sample-section .home-portfolio-sample-group .home-portfolio-sample-item div {
          width: 14rem;
          height: 14rem;
          background-color: #581793;
          margin-left: 1rem;
          margin-bottom: 1rem; }
    .main-home-section .home-portfolio-sample-section .home-portfolio-sample-button {
      background-color: #581793;
      padding-top: 0.9rem;
      padding-bottom: 0.9rem;
      padding-left: 4rem;
      padding-right: 4rem;
      color: #fff;
      border-radius: 30px; }

.services-main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center; }
  .services-main-section .services-into-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 7rem; }
  .services-main-section .services-items-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%; }
    .services-main-section .services-items-section .services-item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      width: 30rem;
      height: 55rem;
      padding-top: 0; }
      .services-main-section .services-items-section .services-item .service-item-intro {
        padding-bottom: 2rem;
        height: 17rem; }
      .services-main-section .services-items-section .services-item .service-item-inner {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        text-align: start;
        border: 1px solid rgba(100, 100, 100, 0.2);
        height: 60%;
        width: 100%;
        margin-bottom: 1.5rem;
        padding-bottom: 2rem;
        padding-top: 2rem; }
        .services-main-section .services-items-section .services-item .service-item-inner div:first-of-type {
          margin-left: 2rem; }
        .services-main-section .services-items-section .services-item .service-item-inner div:nth-of-type(2) {
          margin-left: 1rem; }
      .services-main-section .services-items-section .services-item .services-item-button {
        background-color: #581793;
        padding-top: 0.9rem;
        padding-bottom: 0.9rem;
        padding-left: 4rem;
        padding-right: 4rem;
        color: #fff;
        border-radius: 30px; }
  .services-main-section .services-process-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 8rem; }
    .services-main-section .services-process-section .services-process-item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      width: 15rem; }
      .services-main-section .services-process-section .services-process-item .service-process-number {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        background-color: rgba(100, 100, 100, 0.1);
        height: 7rem;
        width: 7rem;
        margin-bottom: 2rem; }
  .services-main-section .services-call-to-action {
    background-color: rgba(100, 100, 100, 0.1);
    padding-top: 9rem;
    padding-bottom: 9rem;
    width: 100%; }
    .services-main-section .services-call-to-action h1 {
      margin-bottom: 2rem; }
    .services-main-section .services-call-to-action .services-call-to-action-button {
      background-color: #581793;
      padding-top: 0.9rem;
      padding-bottom: 0.9rem;
      padding-left: 4rem;
      padding-right: 4rem;
      color: #fff;
      border-radius: 30px; }
  .services-main-section .services-faq-section {
    width: 70%; }
    .services-main-section .services-faq-section ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -ms-flex-item-align: start;
      align-self: flex-start;
      text-align: start; }

.nordikuh-alice-font {
  font-family: "Alice", sans-serif, Arial, "Helvetica Neue", Helvetica; }

.nordic-purple {
  color: #581793; }

@media all and (max-width: 335px) and (min-width: 300px) {
  .about-us-main-section .about-us-portfolio-sample-section .about-us-portfolio-sample-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .about-us-main-section .about-us-portfolio-sample-section .about-us-portfolio-sample-group .about-portfolio-item-set {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .about-us-main-section .about-us-portfolio-sample-section .about-us-portfolio-sample-group .about-portfolio-item-set:first-of-type {
        margin-right: 0; }
      .about-us-main-section .about-us-portfolio-sample-section .about-us-portfolio-sample-group .about-portfolio-item-set .about-us-portfolio-sample-item:first-of-type {
        margin-right: 0; } }
@media all and (max-width: 680px) and (min-width: 300px) {
  .about-us-main-section .about-us-portfolio-sample-section .about-us-portfolio-sample-group .about-portfolio-item-set:first-of-type {
    margin-right: 0; } }
@media all and (max-width: 990px) and (min-width: 300px) {
  .hamburger-menu-button {
    display: block; }

  .navbar-section .navbar {
    display: none; } }

/*# sourceMappingURL=style.css.map */
